# Desafio Final - IGTI - Analista de Machine Learning

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
cars.head()

    mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0  14.0          8         350  165      4209          12  1972       US.
1  31.9          4          89   71      1925          14  1980   Europe.
2  17.0          8         302  140      3449          11  1971       US.
3  15.0          8         400  150      3761          10  1971       US.
4  30.5          4          98   63      2051          17  1978       US.

In [17]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  259 non-null    float64
 3   hp           261 non-null    int64
 4   weightlbs    258 non-null    float64
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 16.4+ KB

In [6]:
cars.isnull().sum()

mpg            0
cylinders      0
cubicinches    0
hp             0
weightlbs      0
time-to-60     0
year           0
brand          0
dtype: int64

### Questão 1: Após a utilização da biblioteca pandas para a leitura dos dados sobre os valores lidos, é CORRETO afirmar:
Não foram encontrados valores nulos após a leitura dos dados

In [14]:
cars['cubicinches'] = pd.to_numeric(cars['cubicinches'], errors='coerce')

In [15]:
cars['weightlbs'] = pd.to_numeric(cars['weightlbs'], errors='coerce')

In [21]:
cars.isnull().sum()

mpg            0
cylinders      0
cubicinches    2
hp             0
weightlbs      3
time-to-60     0
year           0
brand          0
dtype: int64

### Questão 2: Realize a transformação das colunas "cubicinches" e "weightlbs" do tipo "string" para o tipo numérico utilizando o pd.to_numeric(), com o parâmetro errors='coerce'. Após essa transformação é CORRETO afirmar:
Essa transformação adiciona valores nulos ao nosso dataset

In [40]:
cars[cars['cubicinches'].isnull()]

      mpg  cylinders  cubicinches   hp  weightlbs  time-to-60  year brand
40   16.0          6          NaN  105     3897.0          19  1976   US.
180  19.8          6          NaN   85     2990.0          18  1980   US.

### Questão 3: Indique quais eram os índices dos valores presentes no dataset que "forçaram" o pandas a compreender a variável "cubicinches" como string.
40 e 180

### Questão 4: Após a transformação das variáveis "string" para os valores numéricos, quantos valores nulos (células no dataframe) passaram a existir no dataset?
5

In [44]:
cars['cubicinches'].fillna(cars['cubicinches'].mean(), inplace=True)

In [45]:
cars['weightlbs'].fillna(cars['weightlbs'].mean(), inplace=True)

In [46]:
cars.describe()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year
count,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,23.144828,5.590038,200.918919,106.360153,3009.833333,15.547893,1976.819923
std,7.823570,1.733310,108.837269,40.499959,849.097575,2.910625,3.637696
min,10.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,1971.000000
25%,16.900000,4.000000,101.000000,75.000000,2254.000000,14.000000,1974.000000
50%,22.000000,6.000000,156.000000,95.000000,2904.000000,16.000000,1977.000000
75%,28.800000,8.000000,302.000000,138.000000,3664.000000,17.000000,1980.000000
max,46.600000,8.000000,455.000000,230.000000,4997.000000,25.000000,1983.000000

### Questão 5: Substitua os valores nulos introduzidos no dataset, após a transformação, pelo valor médio das colunas. Qual é o novo valor médio da coluna "weightlbs"?
3009,83

In [47]:
cars.mpg.median()

22.0

### Questão 6: Após substituir os valores nulos pela média das colunas, selecione as colunas 'mpg', 'cylinders', 'cubicinches', 'hp', 'weightlbs', 'time-to-60', 'year'. Qual é o valor da mediana para a característica 'mpg'?
22,0

In [48]:
cars. describe()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year
count,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,23.144828,5.590038,200.918919,106.360153,3009.833333,15.547893,1976.819923
std,7.823570,1.733310,108.837269,40.499959,849.097575,2.910625,3.637696
min,10.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,1971.000000
25%,16.900000,4.000000,101.000000,75.000000,2254.000000,14.000000,1974.000000
50%,22.000000,6.000000,156.000000,95.000000,2904.000000,16.000000,1977.000000
75%,28.800000,8.000000,302.000000,138.000000,3664.000000,17.000000,1980.000000
max,46.600000,8.000000,455.000000,230.000000,4997.000000,25.000000,1983.000000

### Questão 7: Qual é a afirmação CORRETA sobre o valor de 14,00 para a variável "time-to-60"?
75% dos dados são maiores que o valor de 14,00